[submodule "extlib/util"]
	path = extlib/util
	url = https://github.com/ByteHamster/Util.git
[submodule "extlib/simpleRibbon"]
	path = extlib/simpleRibbon
	url = https://github.com/ByteHamster/SimpleRibbon.git
[submodule "extlib/ds2i"]
	path = extlib/ds2i
	url = https://github.com/ByteHamster-etc/ds2i.git
[submodule "extlib/sicHash"]
	path = extlib/sicHash
	url = https://github.com/ByteHamster/SicHash.git
[submodule "extlib/pthash"]
	path = extlib/pthash
	url = https://github.com/jermp/pthash.git
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/sdsl-lite"]
	path = extlib/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
